<div [ngClass]="style.container">
  <h1 [ngClass]="style.title">Histórico<span class="material-icons cursor-pointer" data-popover-target="tooltip">info</span></h1>
  <div data-popover id="tooltip" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <div class="px-3 py-2">
        <p>Para ver detalhes sobre cada etapa, passe o cursor sobre ela</p>
    </div>
    <div data-popper-arrow></div>
</div>
  <ol [ngClass]="style.ol">
    <li *ngFor="let status of statusList; let i = index" [ngClass]="getLiClass(i)">
      <div [ngClass]="style.item" (mouseover)="showPopover($event, i)" (mouseout)="hidePopover($event, i)">
        <span [ngClass]="getSpanClass(status.category, i)" [innerHTML]="getSpanValue(i)"></span>
        {{ getStepLabel(status.category) }}
      </div>

      <div [id]="'popover-' + i" role="tooltip" [ngClass]="style.pop">
        <div [ngClass]="getPopoverHeadClass(status.category)">
          <h3 [ngClass]="style.popoverTitle" [innerHTML]="getStepLabel(status.category)"></h3>
        </div>
        <div class="px-3 py-2">
          <p [innerHTML]="getPopoverText(i)"></p>
        </div>
      </div>
    </li>
  </ol>
</div>