<app-navbar [isLogged]="true"></app-navbar>
<div class="bg-gray-100 text-center align-middle">
<div>
  <h1 class="text-2xl font-bold mb-6 text-center">Informações do Serviço</h1>
  <div class="align-middle">
    <div>
      <p>Cliente: </p>
    </div>

    <div class="flex justify-center">
      <label>Categoria do equipamento: </label>
      <p>Dado do Jason</p>
    </div>
        <div class="flex justify-center">
      <label>Descrição do equipamento: </label>
      <p>Dado do JSON</p>
    </div>
    <div class="flex justify-center">
      <label>Descrição do defeito: </label>
      <p>Dado do JSON</p>
    </div>

  <div class="flex justify-center">
    <p>Desc Equip | Categoria | Descrição do Defeito | Estado</p>
    <ul>
      <tr><td>Nome do Funcionario</td><td>Descrição do que foi feito</td><td>Data</td></tr>
    </ul>
  </div>

<div>
  <label class="font-bold size-8 text-8xl">$$$$$$$$$$</label>
</div>

  <div class="justify-evenly">
    <div [ngClass]="button">
      <app-button
        [props]="{text: 'Aprovar Serviço', color: 'primary-5', size: 'large', textColor: 'white', hoverColor: 'primary-7' , onClick: onApprove}"></app-button>
    </div>
    <div [ngClass]="button">
      <app-button
        [props]="{text: 'Rejeitar Serviço', color: 'secondary-4', size: 'large', textColor: 'white', hoverColor: 'secondary-6' , onClick: onReject}"></app-button>
    </div>
  </div>
 <div [ngClass]="button">
      <app-button
        [props]="{text: 'Pagar', color: 'primary-5', size: 'large', textColor: 'white', hoverColor: 'primary-7' , onClick: onReject}"></app-button>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
