<app-navbar [isLogged]="true"></app-navbar>
<div class="bg-gray-100 text-center py-10">
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg p-8">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">{{ pageTitle }}</h1>
    <div class="space-y-6">

      <div class="flex justify-between items-center">
        <p class="font-semibold text-gray-700">Cliente:</p>
        <p class="text-gray-600 text-right">{{ requestList[0].title }}</p>
      </div>

      <div class="flex justify-between items-center">
        <label class="font-semibold text-gray-700 text-left">Categoria do equipamento:</label>
        <p class="text-gray-600 text-right">{{ requestList[0].description }}</p>
      </div>


      <div class="grid grid-cols-1 gap-4">
        <div class="flex justify-between items-start">
          <label class="font-semibold text-gray-700 text-left">Descrição do equipamento:</label>
          <p class="text-gray-600 text-right break-words max-w-md">Notebook Lenovo velho</p>
        </div>

        <div class="flex flex-col items-start">
          <label class="font-semibold text-gray-700 pb-3">Descrição do defeito:</label>
          <p class="text-gray-600 break-words w-full text-left">
            A tela parou de funcionar do nada depois de dar tela azul e eu acidentalmente acertar um soco no computador.
            Eu não sei o que aconteceu, mas acho que o problema é na tela ou na placa mãe ou a placa de video porque
            travava toda hora.
          </p>
        </div>

      </div>
    </div>

    <div *ngIf="finalized || budgeted" class="mt-6">
      <label class="font-bold text-2xl text-green-600">R$ 570,00</label>
    </div>

    <div class="mt-6 flex justify-around" *ngIf="budgeted">
      <div>
        <app-button
          [props]="{text: 'Aprovar Serviço', color: 'primary-4', size: 'large', textColor: 'white', hoverColor: 'primary-7' , onClick: onApprove}"></app-button>
      </div>
      <div>
        <app-button
          [props]="{text: 'Rejeitar Serviço', color: 'secondary-4', size: 'large', textColor: 'white', hoverColor: 'secondary-6' , onClick: onReject}"></app-button>
      </div>
    </div>

    <div *ngIf="finalized" class="mt-6">
      <div>
        <app-button
          [props]="{text: 'Pagar', color: 'primary-4', size: 'large', textColor: 'white', hoverColor: 'primary-7' , onClick: onPay}"></app-button>
      </div>
    </div>

    <div class="relative overflow-x-auto mt-10">
      <table class="w-full text-sm text-left text-gray-700">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
          <tr>
            <th scope="col" class="px-6 py-3">Nome do Funcionario</th>
            <th scope="col" class="px-6 py-3">Descrição do que foi feito</th>
            <th scope="col" class="px-6 py-3">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">Alisson</th>
            <td class="px-6 py-4">Trocou a placa mãe</td>
            <td class="px-6 py-4">22/01/2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pt-10 w-4/5 mx-auto">
    <app-status-stepper class="mt-10"></app-status-stepper>
  </div>
</div>
<app-footer class="mt-10"></app-footer>
