<nav class="{{navContainer}}">
    <div class="{{navDiv}}">
        <div class="{{navData}}">
            <p class="{{navLogo}}">MANUTADS</p>
            <p class="{{navUserText}}">Bem vindo: User</p>
        </div>
        <ul class="{{navList}}">
            <li class="{{navItem}}">
                <a routerLink="/home" class="text-white">Home</a>
            </li>
            <li class="{{navItem}}">
                <a routerLink="/about" class="text-white">Serviços</a>
            </li>
            <li class="{{navItem}}">
                <a routerLink="/about" class="text-white">Solicitações</a>
            </li>
        </ul>
    </div>  
</nav>
