<app-navbar></app-navbar>
<div [ngClass]="style.wrapper">
  <div [ngClass]="style.pageTopContainer">
    <p [ngClass]="style.title">Solicitações em Aberto</p>
    <div [ngClass]="style.innerContainer">
      <div [ngClass]="style.searchContainer">
        <app-form-input
          (input)="searchKeyboard($event)"
          placeholder="Pesquisar solicitação"
        ></app-form-input>
      </div>
    </div>
  </div>
  <div [ngClass]="style.container"></div>
  <div [ngClass]="style.requestGrid">
    <app-request-card
      *ngFor="let request of getPaginatedRequests(searchQuery)"
      [request]="request"
    ></app-request-card>
  </div>
  <app-pagination-control [currentPage]="currentPage" [nextPage]="nextPage" [previousPage]="previousPage" [totalPages]="totalPages" />
</div>
<app-footer></app-footer>
