<app-navbar></app-navbar>
<p class="px-4 text-2xl font-bold text-primary-8 my-8">Solicitações de Serviço</p>
<div class="flex w-10/12 my-8 mx-auto justify-between px-16">
    <div class="flex justify-between w-full gap-4">
        <div class="flex gap-2">
            <app-form-text-input placeholder="Pesquisar solicitação"></app-form-text-input>
            <app-button [props]="{text: '', icon:'search', iconPosition: 'left', color: 'primary-8', size: 'small', textColor: 'white', hoverColor: 'primary-7' , onClick: navigateToNewRequest}"></app-button>
        </div>
        <app-button [props]="{text: 'Nova Solicitação', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7' , onClick: navigateToNewRequest}"></app-button>
    </div>
    


</div>
<div class="grid grid-cols-1 w-10/12 m-auto justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <app-request-card *ngFor="let request of requestList" [request]="request"></app-request-card>
</div>
