<app-navbar></app-navbar>
<div [ngClass]="style.screen">
  <div [ngClass]="style.signInBox">
    <div [ngClass]="style.title">Cadastro</div>
    <div>
      <form>
        <div [ngClass]="style.sectionT1">
          <label [ngClass]="style.lable" for="name"
            >Nome<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            type="text"
            placeholder="Digite seu nome"
            [control]="nome"
            [validations]="['required']"
            class="w-full md:w-2/3 lg:w-1/2"
          />
          <label [ngClass]="style.lable" for="surname"
            >Sobrenome<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            type="text"
            placeholder="Digite seu sobrenome"
            [control]="sobrenome"
            [validations]="['required']"
            class="w-full md:w-2/3 lg:w-1/2"
          />
        </div>

        <div [ngClass]="style.sectionT1">
          <label [ngClass]="style.lable" for="email"
            >Email<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            id="email"
            type="email"
            placeholder="nome@dominio.com"
            [control]="email"
            [validations]="['email', 'required']"
            class="w-full md:w-2/3 lg:w-1/2"
          />
          <label [ngClass]="style.lable" for="cpf"
            >CPF<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            id="cpf"
            type="text"
            placeholder="Digite seu CPF"
            [control]="cpf"
            [validations]="['required', 'cpf']"
            class="w-full md:w-2/3 lg:w-1/2"
            mask="cpf"
          />
        </div>

        <div [ngClass]="style.sectionT3">
          <label [ngClass]="style.lable" for="phone"
            >Telefone<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            id="phone"
            type="text"
            placeholder="Seu número com DDD"
            [control]="telefone"
            [validations]="['required']"
            mask="phone"
          />
        </div>

        <hr />

        <div [ngClass]="style.sectionT3">
          <label [ngClass]="style.lable" for="cep"
            >CEP<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            type="text"
            placeholder="Digite seu CEP"
            [control]="cep"
            [validations]="['required', 'cep']"
            mask="cep"
          />
        </div>

        <div [ngClass]="style.sectionT1">
          <label [ngClass]="style.lable" for="place">Logradouro: </label>
          <input
            [ngClass]="style.inputBlocked"
            type="text"
            placeholder="Rua, Avenida, etc"
            id="place"
            readonly
          />
          <label [ngClass]="style.lable" for="number"
            >Número<span class="{{ style.requiredSpan }}">*</span></label
          >
          <app-form-input
            type="number"
            placeholder="Digite o número"
            [control]="numero"
            [validations]="['required', 'number']"
            class="w-full md:w-2/3 lg:w-1/2"
          />
        </div>

        <div [ngClass]="style.sectionT1">
          <label [ngClass]="style.lable" for="city">Cidade: </label>
          <input
            [ngClass]="style.inputBlocked"
            type="text"
            id="city"
            placeholder="Cidade"
            readonly
          />
          <label [ngClass]="style.lable" for="state">Estado: </label>
          <input
            [ngClass]="style.inputBlocked"
            type="text"
            id="state"
            placeholder="UF"
            readonly
          />
        </div>
      </form>
    </div>

    <div [ngClass]="style.sectionT2">
      <span *ngIf="error" [ngClass]="style.errorStyle">{{getErrorMessage()}}</span>
      <app-button
        [props]="{
          text: 'Cadastrar-se',
          color: 'secondary-4',
          size: 'medium',
          textColor: 'white',
          hoverColor: 'secondary-6',
          onClick: onSignUp,
          extraClasses: 'font-bold focus:outline-none focus:shadow-outline'
        }"
      ></app-button>
    </div>
  </div>
</div>
<app-footer></app-footer>
