<app-navbar-employee></app-navbar-employee>
<div [ngClass]="style.wrapper">
  <div [ngClass]="style.titleContainer">
    <p [ngClass]="style.title">Gerenciar Categorias</p>
    <app-button [props]="newCategoryButtonProp" />
  </div>
  <div [ngClass]="style.searchContainer">
    <app-form-input
      (input)="searchKeyboard($event)"
      placeholder="Pesquisar solicitação"
    ></app-form-input>
  </div>
  <div [ngClass]="style.tableDisplay">
    <app-category-table
      [onDelete]="onDelete"
      [onEdit]="onEdit"
      [categoriesList]="getPaginatedRequests()"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [previousPage]="previousPage"
      [nextPage]="nextPage"
    />
  </div>
</div>
<app-footer></app-footer>
