<div class="p-4 rounded flex justify-center">
    <table class="table w-4/5 divide-y divide-gray-200 rounded">
      <thead class="bg-slate-300 rounded-sm">
        <tr>
          <th *ngFor="let column of columns" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <!-- ID	Equipamento	Desc. Solicitação	Data Solicitação	Defeito	Status	Ações
 -->
        <tr *ngFor="let row of data">
<!--           <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ row.id }}</td>
 -->          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.equipamento }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.descSolicitacao }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.dataSolicitacao }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.defeito }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ row.status }}</td>
            <td class="flex gap-2 px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded">
                <span class="material-icons">
                  edit
                </span>
              </button>
              <button class="bg-red-500
              hover:bg-red-700 text-white font-bold p-2 rounded">
                <span class="material-icons">
                  delete
                </span>
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  