<app-global-table
  [data]="formattedRequests"
  [columns]="columns"
  [actionTemplate]="actionTemplate"
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [previousPage]="handlePreviousPage"
  [nextPage]="handleNextPage"
  [reportData]="formattedReportData"
  title="solicitacoes-servico"
  [enableReport]="true"
  [enableReportFilters]="true"	
></app-global-table>

<ng-template #actionTemplate let-item>
  <app-button-status
    [displayDisabled]="true"
    [color]="item.status | statusColor : 'background'"
    [status]="item.status"
    [id]="item.id"
  />
</ng-template>
