<ol [ngClass]="ol">
  <li *ngFor="let status of statusList; let i = index" [ngClass]="getLiClass(i)">
    <div [ngClass]="item" [attr.data-popover-target]="'popover-information' + i">
      <span [ngClass]="getSpanClass(status.category, i)" [innerHTML]="getSpanValue(i)"></span>
      {{ getStepLabel(status.category) }}
    </div>

    <div data-popover [id]="'popover-information' + i" role="tooltip" [ngClass]="pop">
      <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
        <h3 class="font-semibold text-gray-900 dark:text-white">Popover title</h3>
      </div>
      <div class="px-3 py-2">
        <p>And here's some amazing content. It's very engaging. Right?</p>
      </div>
      <div data-popper-arrow></div>
    </div>
  </li>
</ol>
