<app-navbar [isLogged]="false"></app-navbar>
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          E-mail
        </label>
        <app-form-text-input type="email" status="" placeholder="nome@dominio.com"></app-form-text-input>
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Senha
        </label>
        <app-form-text-input type="password" status="" placeholder="****"></app-form-text-input>
      </div>

      <div class="flex items-center justify-between">
        <app-button [props]="{text: 'Entrar', color: 'secondary-4', size: 'medium', textColor: 'white', hoverColor: 'secondary-6' , onClick: onLogin, extraClasses:'font-bold focus:outline-none focus:shadow-outline'}"></app-button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
