<app-navbar [isLogged]="false"></app-navbar>
<div [ngClass]="style.main">
  <div [ngClass]="style.form">
    <h2 [ngClass]="style.title">Login</h2>
    <form [formGroup]="formGroup">
      <div>
        <label [ngClass]="style.label" for="email">
          E-mail<span class="{{style.requiredSpan}}">*</span>
        </label>
        <app-form-input id="email" type="email" placeholder="nome@dominio.com" [control]="email" [validations]="['email', 'required']"></app-form-input>
      </div>

      <div>
        <label [ngClass]="style.label" for="password">
          Senha<span class="{{style.requiredSpan}}">*</span>
        </label>
        <app-form-input id="password" type="password" placeholder="****" [control]="password" [validations]="['required']"></app-form-input>
      </div>

      <div [ngClass]="style.button">
        <span *ngIf="error" [ngClass]="style.errorStyle">{{ getErrorMessage() }}</span>
        <app-button
          [props]="{text: 'Entrar', color: 'secondary-4', size: 'medium', textColor: 'white', hoverColor: 'secondary-6' , onClick: onLogin, extraClasses:'font-bold focus:outline-none focus:shadow-outline'}"></app-button>
      </div>
    </form>

    <hr class="mb-4">

    <span [ngClass]="style.signUpSpan">Não possui conta?
      <a [routerLink]="signUpRouterLink" [ngClass]="style.signUpRouter"> Cadastre-se </a>
    </span>


  </div>
</div>
<app-footer></app-footer>
