<app-navbar></app-navbar>
<div [ngClass]="styles.main">
  <h1 [ngClass]="styles.title">{{ pageTitle }}</h1>

  <div [ngClass]="styles.submain"> <!-- requisition information -->
    <h2 [ngClass]="styles.subtitle"> Informações do Pedido </h2>

    <div [ngClass]="styles.basisHalf">
      <div *ngIf="!open" [ngClass]="styles.basisFull">
        <p [ngClass]="styles.semibold">Valor do orçamento</p>
        <label [ngClass]="styles.budget">{{ request.budget | currency }}</label>
      </div>

      <div [ngClass]="styles.basisFull">
        <p [ngClass]="styles.semibold">Descrição do equipamento</p>
        <label>{{ request.equipmentDesc }}</label>
      </div>

      <div [ngClass]="styles.basisHalf">
        <p [ngClass]="styles.semibold">Categoria do equipamento</p>
        <label>{{ equipCategory.description }}</label>
      </div>

      <div [ngClass]="styles.basisFull">
        <p [ngClass]="styles.semibold">Descrição do defeito</p>
        <label [ngClass]="styles.textWrap">{{ request.defectDesc }}</label>
      </div>

      <div [ngClass]="styles.basisFull" *ngIf="request.repairDesc">
        <p [ngClass]="styles.semibold">Descrição do reparo</p>
        <label [ngClass]="styles.textWrap">{{ request.repairDesc }}</label>
      </div>

      <div [ngClass]="styles.basisFull" *ngIf="request.customerOrientations">
        <p [ngClass]="styles.semibold">Orientações ao cliente</p>
        <label [ngClass]="styles.textWrap">{{request.customerOrientations}}</label>
      </div>

    </div>

    <div [ngClass]="styles.basisHalf">
      <app-status-stepper></app-status-stepper>
    </div>
  </div>

  <div *ngIf="budgeted" [ngClass]="styles.submain2">
    <h2 [ngClass]="styles.subtitle">Ações</h2>
    <p [ngClass]="styles.semibold">Valor do orçamento:</p>
    <label class="block mb-4">{{ request.budget | currency: 'BRL' }}</label>
    <app-button class="me-4"
      [props]="{text: 'Aprovar Serviço', icon: '', iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onApprove}"></app-button>
    <app-button
      [props]="{text: 'Rejeitar Serviço', icon: '', iconPosition: 'left', color: 'gray-400', size: 'medium', textColor: 'black', hoverColor: 'gray-300', onClick: onReject}"></app-button>
  </div>

  <div *ngIf="finalized" [ngClass]="styles.submain2">
    <h2 [ngClass]="styles.subtitle">Ações</h2>
    <app-button class="me-4"
      [props]="{text: 'Pagar', icon: '', iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onPay}"></app-button>
  </div>

  <div *ngIf="rejected" [ngClass]="styles.submain2">
    <h2 [ngClass]="styles.subtitle">Ações</h2>
    <app-button class="me-4"
      [props]="{text: 'Resgatar Serviço', icon: '', iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onRescue}"></app-button>
  </div>
</div>
<app-footer></app-footer>
