<app-navbar></app-navbar>
<div [ngClass]="styles.container">
  <div [ngClass]="styles.card">
    <h1 [ngClass]="styles.title">{{ pageTitle }}</h1>
    <div [ngClass]="styles.contentSection">

      <div [ngClass]="styles.rowFlex">
        <p [ngClass]="styles.labelText">Cliente:</p>
        <p [ngClass]="styles.valueText">Nome do cliente</p>
      </div>

      <div [ngClass]="styles.rowFlex">
        <label [ngClass]="styles.labelText">Categoria do equipamento:</label>
        <p [ngClass]="styles.valueText">Computador</p>
      </div>

      <div [ngClass]="styles.gridSection">
        <div [ngClass]="styles.rowFlex">
          <label [ngClass]="styles.labelText">Descrição do equipamento:</label>
          <p [ngClass]="styles.descriptionText">{{request.equipmentDesc}}</p>
        </div>

        <div [ngClass]="styles.defectSection">
          <label [ngClass]="styles.labelText" style="padding-bottom: 3px;">Descrição do defeito:</label>
          <p [ngClass]="styles.valueText">{{ request.defectDesc }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="finalized || budgeted" [ngClass]="styles.finalSection">
      <label [ngClass]="styles.budgetText">{{ request.budget | currency: 'R$' : 'symbol-narrow' : '4.2-2' }}</label>
    </div>

    <div [ngClass]="styles.buttonContainer" *ngIf="budgeted">
      <div>
        <app-button
          [props]="{text: 'Aprovar Serviço', color: styles.button, size: 'large', textColor: 'white', hoverColor: 'secondary-6', onClick: onApprove}">
        </app-button>
      </div>
      <div>
        <app-button
          [props]="{text: 'Rejeitar Serviço', color: styles.button, size: 'large', textColor: 'white', hoverColor: 'secondary-6', onClick: onReject}">
        </app-button>
      </div>
    </div>

    <div *ngIf="finalized" [ngClass]="styles.finalSection">
      <div>
        <app-button
          [props]="{text: 'Pagar', color: styles.button, size: 'large', textColor: 'white', hoverColor: 'secondary-6', onClick: onPay}">
        </app-button>
      </div>
    </div>

    <div *ngIf="rejected" [ngClass]="styles.finalSection">
      <div>
        <app-button
          [props]="{text: 'Resgatar Serviço', color: styles.button, size: 'large', textColor: 'white', hoverColor: 'secondary-6', onClick: onRescue}">
        </app-button>
      </div>
    </div>
  </div>
  <div [ngClass]="styles.stepperContainer">
    <app-status-stepper statusStepper class="mt-10"></app-status-stepper>
  </div>
</div>
<app-footer [ngClass]="styles.footer"></app-footer>
