<h1>Você está no index do Projeto, vivaaa</h1>

<a routerLink="/login" id="login">Login</a>
<br>
<a routerLink="/cadastro" id="cadastro">Cadastro</a>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="assets/images/slider/Slide_1.png"></div>
      <div class="swiper-slide"><img src="assets/images/slider/Slide_2.png"></div>
      <div class="swiper-slide"><img src="assets/images/slider/Slide_3.png"></div>
      <div class="swiper-slide"><img src="assets/images/slider/Slide_4.png"></div>
      <div class="swiper-slide"><img src="assets/images/slider/Slide_5.png"></div>
    </div>
  </div>
