<div class="{{ style.cardContainer }} ">
  <div
    class="{{ style.cardHeader }} {{
      request.status | statusColor : 'background'
    }}"
  >
    <p class="{{ style.title }}">{{ request.title }}</p>
    <p class="{{ style.statusText }}">{{ request.status | statusText }}</p>
  </div>
  <div class="{{ style.cardContentContainer }}">
    <div class="{{ style.cardImageContainer }}">
      <img
        class=""
        alt="Imagem da solicitação"
        src="{{ request.image }}"
      />
    </div>
    <div class="{{ style.cardDataContainer }}">
      <div class="{{ style.cardData }}">
        <div>
          <p class="{{ style.cardDescription }}">
            {{ request.description | limitedDescription : 30 }}
          </p>
        </div>
        <div>
          <p class="{{ style.cardDate }}">
            Cliente: {{ request.client.name + ' ' + request.client.surname }}
          </p>
          <p class="{{ style.cardDate }}">
            Última atualização: {{ request.created_at | date : "dd/MM/yyyy HH:mm" }}
          </p>
        </div>
      </div>
      <div class="{{ style.cardButtonSection }}">
        <div>
          <a
            class="{{ style.cardButton }} {{
              request.status | statusColor : 'background'
            }}"
            [href]="'funcionario/visualizar-servico/'+request.id"
            >{{ getButtonText(request.status) }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
