<app-navbar [isLogged]="true"></app-navbar>
<h1>Detalhes do Serviço</h1>
<div class="client information">
  <p>Cliente</p><label for="">{{request.requestId}}</label> //só pra nao ficar vazio mas teria q pegar do cliente
  <p>CPF</p><label for="">{{request.requestId}}</label> //só pra nao ficar vazio mas teria q pegar do cliente
</div>
<div class="request status information">
  <p>Tipo de equipamento</p> <label for="">{{request.equipmentDesc}}</label>
  <p>Descrição da requisição</p> <label for="">{{request.requestDesc}}</label>
  <p>Descrição do problema</p> <label for="">{{request.defectDesc}}</label>
</div>
<div *ngIf="open">
  <p>Valor do orçamento:</p>
  <input type="text" name="price" value=""/>
  <app-button [props]="{text: 'Orçar', icon: '',iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onBudget,}"></app-button>
</div>
<div *ngIf="approved">
  <p>Valor orçado:</p> <label for="">{{request.budget | currency: 'BRL'}}</label>
  <app-button [props]="{text: 'Efetuar Manutenção', icon: '',iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onFix,}"></app-button>
  <app-button [props]="{text: 'Redirecionar', icon: '',iconPosition: 'left', color: 'gray-400', size: 'medium', textColor: 'black', hoverColor: 'gray-300', onClick: onRedirect,}"></app-button>
</div>
<app-footer></app-footer>
