<app-navbar></app-navbar>
<div class="bg-gray-100">
  <div [ngClass]="styles.main">
    <h1 [ngClass]="styles.title">Detalhes do Serviço</h1>

    <div [ngClass]="styles.submain"> <!-- client information -->
      <h2 [ngClass]="styles.subtitle"> Informações do Cliente </h2>

      <div [ngClass]="styles.basisHalf">
        <p [ngClass]="styles.semibold">Cliente</p>
        <label>{{ customer.name + " " + customer.surname }}</label>
      </div>

      <div [ngClass]="styles.basisHalf">
        <p [ngClass]="styles.semibold">CPF</p>
        <label>{{ customer.cpf | cpfMask }}</label>
      </div>

      <div [ngClass]="styles.basisHalf">
        <p [ngClass]="styles.semibold">Email</p>
        <label>{{ customer.email }}</label>
      </div>

      <div [ngClass]="styles.basisHalf">
        <p [ngClass]="styles.semibold">Endereço</p>
        <label>{{ customer.address | addressPipe }}</label>
      </div>

    </div>

    <div [ngClass]="styles.submain"> <!-- requisition information -->

      <h2 [ngClass]="styles.subtitle"> Informações do Pedido </h2>


      <div [ngClass]="styles.basisHalf">
        <div [ngClass]="styles.basisFull">
          <p [ngClass]="styles.semibold">Descrição do equipamento</p>
          <label>{{request.equipmentDesc}}</label>
        </div>

        <div [ngClass]="styles.basisFull">
          <p [ngClass]="styles.semibold">Categoria do equipamento</p>
          <label [ngClass]="styles.textWrap">{{equipCategory.description}}</label>
        </div>

        <div [ngClass]="styles.basisFull">
          <p [ngClass]="styles.semibold">Descrição do problema</p>
          <label [ngClass]="styles.textWrap">{{request.defectDesc}}</label>
        </div>

        <div [ngClass]="styles.basisFull" *ngIf="request.rejectReason">
          <p [ngClass]="styles.semibold">Motivo da Rejeição</p>
          <label [ngClass]="styles.textWrap">{{request.rejectReason}}</label>
        </div>

        <div [ngClass]="styles.basisFull" *ngIf="request.repairDesc">
          <p [ngClass]="styles.semibold">Descrição do reparo</p>
          <label [ngClass]="styles.textWrap">{{request.repairDesc}}</label>
        </div>

        <div [ngClass]="styles.basisFull" *ngIf="request.customerOrientations">
          <p [ngClass]="styles.semibold">Orientações ao cliente</p>
          <label [ngClass]="styles.textWrap">{{request.customerOrientations}}</label>
        </div>
      </div>

      <div [ngClass]="styles.basisHalf">
        <app-status-stepper></app-status-stepper>
      </div>

    </div>

    <div *ngIf="open" [ngClass]="styles.submain2">
      <h2 [ngClass]="styles.subtitle">Ações</h2>
      <p [ngClass]="styles.semibold">Valor do orçamento:</p>
      <div [ngClass]="styles.form">
        <app-form-input id="valor" type="text" placeholder="100,00" [control]="value" [validations]="['required', 'number']" mask="money"></app-form-input>
        <app-button [props]="{text: 'Orçar', icon: '',iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onBudget, extraClasses: 'mt-2'}">
        </app-button>
      </div>
    </div>

    <div *ngIf="approved" [ngClass]="styles.submain2">
      <h2 [ngClass]="styles.subtitle">Ações</h2>
      <p [ngClass]="styles.semibold">Valor orçado:</p>
      <label for="" class="block mb-4">{{request.budget | currency: 'BRL'}}</label>
      <app-button class="me-4"
        [props]="{text: 'Efetuar Manutenção', icon: '',iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onFix}"></app-button>
      <app-button
        [props]="{text: 'Redirecionar', icon: '',iconPosition: 'left', color: 'gray-400', size: 'medium', textColor: 'black', hoverColor: 'gray-300', onClick: onRedirect}"></app-button>
    </div>
    <div *ngIf="paid" [ngClass]="styles.submain2">
      <h2 [ngClass]="styles.subtitle">Ações</h2>
      <app-button class="me-4"
        [props]="{text: 'Finalizar', icon: '',iconPosition: 'left', color: 'primary-8', size: 'medium', textColor: 'white', hoverColor: 'primary-7', onClick: onPaid}"></app-button>
    </div>
  </div>
</div>
<app-footer></app-footer>
